{% extends "base.html" %}
{% load static %}


{% block head %}
	<link rel = "stylesheet" type = "text/css"  href = "{% static "css/stylesheet_credentials.css" %}">
{% endblock %}


{% block center_material %}
	<div id = "center_block">
		<div id = "content_block">


            <div class = "notes" id = "laurel">
				<a id = "authorlink" href = "https://www.goodreads.com/user/show/26527306-laurel-smith"><h3 class = "author_name">Laurel Smith</h3></a>
				<div id = "profile1_box">
					<a href = "https://www.goodreads.com/user/show/26527306-laurel-smith"><img id = "profile1" src = "{% static "images/laurel_smith2.jpg"%}" /></a>
				</div>
					<p>
					My relationship with writing goes all the way back to when I was in third grade. I would constantly design new worlds for my fantasy stories. My best friend was also an avid writer and many an afternoon was spent devising new adventures for our characters to undertake. Looking back now, it is no wonder that I now want to expand my relationship with the writing community. Self-publishing is a wonderful avenue for new writers, and I want to help prove that self-published stories and novels are of just as high a quality as those published commercially.
					</p>

					<p>
					In terms of my credentials, I completed both my undergraduate and Master's degrees at <a href = "http://www.graduate.english.vt.edu/index.html"> Virginia Tech</a>. While I greatly enjoyed broadening my knowledge of classic literature, I never left my roots in fantasy and science fiction. For my Master's thesis I chose to incorporate the works of Joseph Campbell and Carl Jung with my own interpretations of science fiction. The end result was "Joseph Campbell's Functions of Myth in Science Fiction: Modern Mythology and the Historical and Ahistorical Duality of Time." My undergraduate degree confirmed my love of literature, and my Master's developed a distinct focus on details in writing. I also spent two years teaching composition at Virginia Tech, which has helped me learn how to communicate with writers.
					</p>

					<p>
					I chose to study English Literature so that I could spend my life doing what I love. My combination of experience inside and outside of school has prepared me to help you develop your writing and become a part of a larger community of writers.
					</p>
					<p>
					Contact me at <u>tellersoftales.lsmith@gmail.com</u>
					</p>

			</div>


			<div class = "notes" id = "kaylynne">
				<a id = "authorlink" href = "https://www.goodreads.com/author/show/6533874.Kaylynne_Spauls?from_search=true"><h3 class = "author_name">Kaylynne Spauls</h3></a>
				<div id = "profile1_box"> 
					<a href = "https://www.goodreads.com/author/show/6533874.Kaylynne_Spauls?from_search=true"><img id = "profile1" src = "{% static "images/kay_spauls.jpg"%}" /></a>
				</div>
					<p>
					I am an author. My relationship with writing is like a fish to water. For as long as I can remember, I&#39ve been obsessed with stories of all forms. As I got older and began feeling like I couldn&#39t find exactly what I was looking for, I set pen to paper&#8212 and everything took off as I tried to find a story that I would find interesting or new.
					</p>
					<p>
					I studied many subjects in college until I finally decided to submit a story for publication. I&#39d been told all my life that writing was something I would never be able to do. Creative writing is my strong suit, but &#34proper&#34 literature and scholarly writing did not come naturally to me. Imagine my surprise when the responses to my stories were mostly positive.  I decided to study English in depth and I haven&#39t looked back. 
					</p>
					<p>
					Despite what you think or you may have been told, we are all Tellers of Tales. We can help you get there.
					</p>
					<p>
                    Visit my author page at <a href = "/kaylynnespauls/">tellers-of-tales.com/kaylynnespauls</a>
                    <br>
					Contact me at <u>tellersoftales.kspauls@gmail.com</u>


					</p>
					
			</div>


		</div>
	</div>
{% endblock %}
