{% extends "base.html" %}
{% load static %}


{% block head %}	
	<link rel = "stylesheet" type = "text/css"  href = "{% static "css/stylesheet_testimonials.css" %}">
{% endblock %}

{% block center_material %}

	<div id = "center_block">
	</div>
	<div id = "right_block">
		<div class = "bookcover_box" id = "top_book">
			<a href = "http://www.amazon.com/gp/product/1480007838?ie=UTF8&tag=httpwwwgoodco-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=1480007838&SubscriptionId=1MGPYB6YW3HWK55XCGG2"><img class = "bookcover" src = "{% static "images/the_sirens.jpg"%}" /></a>
		</div>
		
		<div class = "bookcover_box">
			<a href = "http://www.barnesandnoble.com/w/izzy-and-brynn-kaylynne-spauls/1117480456?ean=9781629945897&itm=1&usri=9781629945897&cm_mmc=AFFILIATES-_-Linkshare-_-GwEz7vxblVU-_-10:1&r=1,%201"><img class = "bookcover" src = "{% static "images/izzy&brynn.jpg"%}" /></a>
		</div>
		
		<div class = "bookcover_box">
			<a href = "http://www.amazon.com/Shadowing-A-Henchmans-Tale-Moonblind-ebook/dp/B00545W2IY/ref=sr_1_fkmr0_1?ie=UTF8&qid=1387167334&sr=8-1-fkmr0&keywords=the+shadowing+a+henceman%27s+tale"><img class = "bookcover" src = "{% static "images/shadowing.jpg"%}" /></a>
		</div>
		
		<div class = "bookcover_box">
			<a href = ""><img class = "bookcover" src = "{% static "images/the_untamed.jpg"%}" /></a>
		</div>
	</div>


	<div id = "content_block">		
		<div class = "notes" id = "first_testi">
			<div id = "profile1_box">
				<a href = "https://www.facebook.com/katzantow"><img id = "profile1" src = "{% static "images/kat_zantow.jpg"%}" /></a>
			</div>
			<a id = "authorlink" href = "https://www.facebook.com/katzantow"><h3 class = "author_name">Kat Zantow</h3></a>
				<p>
				I have worked with Teller of Tales for short fiction, and always had a great experience! Their turn around time is prompt and their interactions friendly and professional. Their line editing service clean up the stray bits that slip through your radar when you write a story. They picked up grammar and word choice things that I had missed, as well as ambiguous phrases. They also provide some suggestions for revision going forward. Above all, they revitalized my interest in a stalled project!
				</p>
        </div>

		<div class = "notes">
			<div id = "profile2_box">
				<img id = "profile2" src = "{% static "images/enrique.jpg"%}" />
			</div>
			<a id = "authorlink" href = "https://www.facebook.com/katzantow"><h3 id = "right_author" class = "author_name">Enrique Longton</h3></a>

			<p style = "margin-top: 60px; position: auto">
               I worked with Tellers of Tales after writing a series of short stories.  The developmental editing service was just the kind of analysis my stories needed.  Laurel gives feedback that takes the form of a discussion, not just some one-sided information spout. I found it helpful because her questions brought items to light that I hadn’t considered.  For example, one of my characters made an appearance in the beginning of a story and did not reappear until the very end.  Laurel assured that with the events that occurred between the character’s first and second appearance in the story, that his behavior was consistent with how I originally imagined him.
			</p>
		</div>

		<div id = "thirdbox" class = "notes">
			<div id = "profile3_box">
				<img id = "profile3" src = "{% static "images/joyce.PNG"%}" />
			</div>
			<h3 class = "author_name">Joyce Bayner</h3>

			<p>
            Decided to think outside the box on this one and hired Tellers of Tales. Glad I did, the price was reasonable, but more notably, the service was top-tier.  I love the user-based site format and the communication with my editor.  I was blown away to see the number of edits with which I agreed. I had about five correspondences on my Projects page; enough for my editor and I to agree that we were ready to submit for publishing. Thanks for a great experience.
			</p>

		</div>


        <div id = "fourthbox" class = "notes">
			<div id = "profile4_box">
				<img id = "profile4" src = "{% static "images/ernest.jpg"%}" />
			</div>
			<h3 class = "author_name" id = "right_author">Stan Gregory</h3>

			<p style = "margin-top: 60px; position: auto">
                I’ve been using the client features the site for about three months now. The system allows me to store my work on the Tellers of Tales database and ask for any of the three editing services at any time. For example, I have six working projects all open simultaneously.  The site makes it easy for me to communicate with my editor and see all of the changes as my project matures.
            </p>

		</div>

		
	</div>
{% endblock %}