#content_block{
float: left;
margin-top:100px;
background-color:#F5F2E9;
z-index:1;
width:920px;
position:absolute;
left:50%;
margin-left:-460px;
position:relative;
/* border:1px dashed black; */
}

#VT_logo_box{
margin: auto;
height:100px;
width:200px;
margin-bottom: 20px; 
}
#VT_logo{
max-width:100%;
max-height:100%;
}


#profile1_box{
float: left;
height:150px;
margin-right:10px;

}
#profile1{
max-height:100%;
max-width:100%;
border-radius:10px;
box-shadow: 3px 3px 5px #888888;
}



#profile_pic_box{
float:right;
height:200px;
width:300px;
margin-right:10px;
margin-left:10px;
margin-bottom:10px;
box-shadow: 10px 10px 10px #888888;
}

#profile_pic{
max-width:100%;
max-height:100%;
border:2px solid #4F2D12;
}

#authorlink{
text-decoration: none;
color: black;

}

#authorlink:hover{
color: #987A26;
}


#kaylynne{

margin-top: 50px;
margin-bottom: 100px;
}


#laurel{
margin-top: 50px;
margin-bottom: 100px;
}


.author_name{
font-family:Centaur;
margin-bottom:10px;

}


.text_titles{
font-family:Centaur, Times;
margin-left:50px;
margin-top:50px;
}
.cred_paragraph{

}
.notes{
border-radius: 5px;
margin-left:70px;
margin-right: 70px;

}





